
name: Handle new / edited entry
on:
  issues:
      types: [opened, edited]

jobs:

  # First, generate the new feed XML and 'entries' content based on the issues list.
  generate:
    if: github.actor == github.repository_owner && contains(github.event.issue.labels.*.name, 'entry')
    runs-on: self-hosted
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2.3.4
    - name: Setup Node environment
      uses: actions/setup-node@v2.1.5
    - name: Install Node modules
      run: |
        npm install
    - name: Generate feed XML and 'entries' content
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh api "/repos/${GITHUB_REPOSITORY}/issues?labels=entry&sort=created&direction=descending" > issues.json
        ./feed < issues.json > feed.xml
        cat feed.xml
        ./render < issues.json > entries.md
        cat entries.md
    - name: Commit any updates
      run: |
        git config --global user.email "rsletta@gmail.com"
        git config --global user.name "Ronnie André Bjørvik Sletta"
        git diff --exit-code feed.xml entries.md || git add feed.xml entries.md && git commit -m 'update feed and entries' && git push
  # Now, tweet about the new entry, but only when the entry is originally created
  # and (via the needs: generate) only if the content and feed generation was OK.
  #tweet:
  #  needs: generate
  #  if: github.event.action == 'opened'
  #  runs-on: self-hosted
  #  steps:
  #    - name: Prepare tweet status
  #      run: |
  #        _exerpt="$(echo ${{ github.event.issue.body }} | cut -c 1-50)"
  #        _status="$(echo "Guess who learnt something new today! ${{ github.event.issue.title }} ($_excerpt) ☞ ${{ github.event.issue.html_url }}")"
  #        echo "TA_STATUS=$_status" >> $GITHUB_ENV
  #    - name: Construct and send tweet
  #      uses: ethomson/send-tweet-action@v1
  #      with:
  #        status: ${{ env.TA_STATUS }}
  #        consumer-key: ${{ secrets.TWURL_CONSUMER_KEY }}
  #        consumer-secret: ${{ secrets.TWURL_CONSUMER_SECRET }}
  #        access-token: ${{ secrets.TWURL_TOKEN }}
  #        access-token-secret: ${{ secrets.TWURL_SECRET }}